<launch>
      <machine address="jetson" name="jetson" user="ros" env-loader="~/osu-uwrt/riptide_setup/scripts/ros_scripts/baycat_master.sh"/>
      <machine address="localhost" name="local" />
      <arg name="robot" default="puddles" doc="Which robot to simulate" />
      <arg name="record" default="false" />
      <!-- Computer in robot must specify in bashrc which computer it wants to run vision code on -->
      <arg name="vision_computer" default="$(optenv VISION_COMPUTER local)" />

      <group ns="$(arg robot)">
            <include file="$(find riptide_hardware)/launch/hardware.launch">
                  <arg name="robot" value="$(arg robot)" />
                  <arg name="vision_computer" value="$(arg vision_computer)" />
            </include>
            <include file="$(find riptide_vision)/launch/vision.launch">
                  <arg name="vision_computer" value="$(arg vision_computer)" />
            </include>
            <include file="$(find riptide_controllers)/launch/controller.launch">
                  <arg name="robot" value="$(arg robot)" />
            </include> 
            <include file="$(find riptide_teleop)/launch/ps3_teleop.launch">
                  <arg name="robot" value="$(arg robot)" />
            </include> 
            <include file="$(find riptide_navigation)/launch/navigation.launch">
                  <arg name="namespace" value="$(arg robot)" />
            </include>
            <param name="robot_description"
            command="$(find xacro)/xacro '$(find riptide_descriptions)/robots/$(arg robot).xacro' --inorder
                    debug:=0
                    namespace:=$(arg robot)
                    inertial_reference_frame:=world" />
            
            <node pkg="rosbag" type="record" name="record_autonomy" 
                  args="record -o /mnt/Data/bringup rosout_agg /tf odometry/filtered darknet_ros/image_hud/compressed" 
                  if="$(arg record)" />
      </group>
      <include file="$(find flexbe_onboard)/launch/behavior_onboard.launch"/>
</launch>
