<launch>
    <arg name="robot" default="puddles" doc="Which robot to simulate" />
    <arg name="world" default="cutie" doc="Which world to spawn the robot in" />
    <arg name="gui" default="true" doc="Whether to display gazebo gui" />
    <arg name="paused" default="false" doc="Start gazebo paused" />

    <!-- Start rest of software -->
    <group ns="$(arg robot)">
        <include file="$(find flexbe_app)/launch/flexbe_ocs.launch"/>
    </group>
</launch>