<launch>
      <arg name="robot" default="puddles" doc="Which robot to simulate" />


      <param name="use_sim_time" value="true" />
      <param name="reset_on_time_jump" value="true" />

      <include file="$(find uuv_gazebo_worlds)/launch/lake.launch" />
      <include file="$(find riptide_descriptions)/launch/upload_$(arg robot).launch" />
      <include file="$(find riptide_gazebo)/launch/sensor_converters.launch" />

      <include file="$(find riptide_hardware)/launch/darknet_ros.launch" />
      <include file="$(find riptide_vision)/launch/vision.launch" />
      <include file="$(find riptide_controllers)/launch/controllers.launch" />
      <include file="$(find riptide_autonomy)/launch/actions.launch" />
      <include file="$(find riptide_teleop)/launch/ps3_controller.launch" />
      <include file="$(find riptide_navigation)/launch/navigation.launch" />
</launch>
