<launch>
      <arg name="robot" default="puddles" doc="Which robot to simulate" />
      <arg name="world" default="cutie" doc="Which world to spawn the robot in" />
      <arg name="gui" default="true" doc="Whether to display gazebo gui" />
      <arg name="paused" default="false" doc="Start gazebo paused" />

      <!-- Open world, spawn bot, and convert sensors -->
      <include file="$(find riptide_gazebo)/launch/world.launch">
            <arg name="world" value="$(arg world)" />
            <arg name="gui" value="$(arg gui)" />
            <arg name="paused" value="$(arg paused)" />
      </include>
      <include file="$(find riptide_gazebo)/launch/spawn_robot.launch">
            <arg name="robot" value="$(arg robot)" />
      </include>

      <!-- Start rest of software -->
      <group ns="$(arg robot)">
            <include file="$(find riptide_vision)/launch/vision.launch" />
            <include file="$(find riptide_controllers)/launch/controllers.launch" />
            <include file="$(find riptide_teleop)/launch/ps3_controller.launch" />           
      </group>
      <include file="$(find flexbe_onboard)/launch/behavior_onboard.launch"/>
      <include file="$(find riptide_navigation)/launch/navigation.launch">
            <arg name="namespace" value="$(arg robot)" />
      </include>
</launch>
